:local(.cellName) {
  width: 40%;
}

:local(.cellNumber) {
  width: 10%;
}

@media screen and (min-width: 30em) {
  :local(.cellName) {
    width: 52%;
  }

  :local(.cellNumber) {
    width: 8%;
  }
}
