@keyframes moveBall {
  from {
    transform: translateX(-55vw);
  }

  to {
    transform: rotate(0);
  }
}

:local(.animate-ball-path) {
  animation-duration: 8s;
  animation-name: moveBall;
  animation-timing-function: linear;
}

:local(.f0) {
  font-size: 0;
}

@keyframes rollingBall {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

:local(.rolling-ball) {
  animation-duration: 1s;
  animation-iteration-count: 8;
  animation-name: rollingBall;
  animation-timing-function: linear;
}
