@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveBall {
  from {
    transform: translateX(-55vw);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes rollingBall {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
