@import 'tachyons';

:root.theme-blue {
    --color-main: #d7e6fc;
    --color-secondary: #bdf1f6;
}

:root.theme-green {
    --color-main: #d5ffad;
    --color-secondary: #c8f4de;
}

:root.theme-yellow {
    --color-main: #fff2d1;
    --color-secondary: #ffe38f;
}

body {
    transition: all 0.25s linear;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@keyframes rollingBall {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-ball {
    animation-duration: 1s;
    animation-iteration-count: 8;
    animation-name: rollingBall;
    animation-timing-function: linear;
}

@keyframes moveBall {
    from {
        transform: translateX(-55vw);
    }

    to {
        transform: rotate(0);
    }
}

.animate-ball-path {
    animation-duration: 8s;
    animation-name: moveBall;
    animation-timing-function: linear;
}

.bg-main {
    background-color: var(--color-main);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.cell-name {
    width: 40%;
}

.cell-number {
    width: 10%;
}

.default {
    cursor: default;
}

.f0 {
    font-size: 0;
}

.mh-100 {
    max-height: 100%;
}

.zoom-in {
    cursor: zoom-in;
}

@media screen and (min-width: 30em) {
    .cell-name {
        width: 52%;
    }

    .cell-number {
        width: 8%;
    }
}
