.theme-blue {
  --color-main: #d7e6fc;
  --color-secondary: #bdf1f6;
}

.theme-green {
  --color-main: #d5ffad;
  --color-secondary: #c8f4de;
}

.theme-yellow {
  --color-main: #fff2d1;
  --color-secondary: #ffe38f;
}
